<html>
    <head>
        <title>Question App</title>
    </head>
    <body>
        <h1>Add Question</h1>

	<form method="POST" action="/add_question">
	    <input name="new_question" id="id_new_question" placeholder="Add Question">
            <input type="submit" value="Add question" id="add_question" >
            <input type="hidden" value="send_Add" name="send_add" >
	    <br>
            {% csrf_token %}
        </form>
	<form method="POST" action="/">
            <input type="submit" value="Back" id="id_back" >
            <input type="hidden" value="send_back" name="send_back" >
	    <br>
            {% csrf_token %}
        </form>
    </body>
</html>
