<html>
    <head>
        <title>Question App</title>
    </head>
    <body>
        <h1>Add Answer of Question "{{ question_.text }}"</h1>

	<form method="POST" action="/add_answer/{{ question_.id }}">
	    <input name="new_answer" id="id_new_answer" placeholder="Add Answer">
            <input type="submit" value="Add answer" id="add_answer" >
            <input type="hidden" value="send_answer" name="send_answer" >
	    <br>
            {% csrf_token %}
        </form>
        <table id="id_answer_table">
            {% for answer in answer_ %}
                <tr><td>{{ forloop.counter }}: {{ answer.answer }}</td></tr>
            {% endfor %}
        </table>
	<form method="POST" action="/">
            <input type="submit" value="Done" id="id_done" >
            <input type="hidden" value="send_done" name="send_done" >
	    <br>
            {% csrf_token %}
        </form>
    </body>
</html>
