<html>
    <head>
        <title>Question App</title>
    </head>
    <body>
        <h1>Question App</h1>
	<form method="POST" action="/">
            <input type="submit" value="Add question" id="add_question" >
            <input type="hidden" value="send_Add" name="send_add" >
	    <br>
            {% csrf_token %}
        </form>
<table><tr><td>
	Show : </td>
	<td><form method="POST" action="/">
        	<input type="submit" value="all" id="id_showall" >
            	{% csrf_token %}
	</form></td>
	<td><form method="POST" action="/">
        	<input type="submit" value="today" id="id_present" >
            	<input type="hidden" value="0"  name="day">
            	<input type="hidden" value="0"  name="month">
            	<input type="hidden" value="0"  name="year">
            	<input type="hidden" value="id_show"  name="id_show">
            	{% csrf_token %}
	</form></td>
	<td><form method="POST" action="/">
        	<input type="submit" value="yesterday" id="id_present" >            	
		<input type="hidden" value="1"  name="day">
            	<input type="hidden" value="0"  name="month">
            	<input type="hidden" value="0"  name="year">
            	<input type="hidden" value="id_show"  name="id_show">
            	{% csrf_token %}
	</form>
	<td><form method="POST" action="/">
        	<input type="submit" value="last 2 days" id="id_present" >
             	<input type="hidden" value="2"  name="day">
            	<input type="hidden" value="0"  name="month">
            	<input type="hidden" value="0"  name="year">
            	<input type="hidden" value="id_show"  name="id_show">
            	{% csrf_token %}
	</form></td>
	<td><form method="POST" action="/">
        	<input type="submit" value="this month" id="id_show" >
            	<input type="hidden" value="-"  name="day">
            	<input type="hidden" value="0"  name="month">
            	<input type="hidden" value="0"  name="year">
            	<input type="hidden" value="id_show"  name="id_show">
            	{% csrf_token %}
	</form></td>
	<td><form method="POST" action="/">
        	<input type="submit" value="last month" id="id_show" >
             	<input type="hidden" value="-"  name="day">
            	<input type="hidden" value="1"  name="month">
            	<input type="hidden" value="0"  name="year">
            	<input type="hidden" value="id_show"  name="id_show">
            	{% csrf_token %}
	</form></td>
	<td><form method="POST" action="/">
        	<input type="submit" value="last 2 months" id="id_show" >
            	<input type="hidden" value="-"  name="day">
            	<input type="hidden" value="2"  name="month">
            	<input type="hidden" value="0"  name="year">
            	<input type="hidden" value="id_show"  name="id_show">
            	{% csrf_token %}
	</form></td>
	<td><form method="POST" action="/">
        	<input type="submit" value="this year" id="id_show" >
            	<input type="hidden" value="-"  name="day">
            	<input type="hidden" value="-"  name="month">
            	<input type="hidden" value="0"  name="year">
            	<input type="hidden" value="id_show"  name="id_show">
            	{% csrf_token %}
	</form></td>
	<td><form method="POST" action="/">
        	<input type="submit" value="last year" id="id_show" >
            	<input type="hidden" value="-"  name="day">
            	<input type="hidden" value="-"  name="month">
            	<input type="hidden" value="1"  name="year">
            	<input type="hidden" value="id_show"  name="id_show">
            	{% csrf_token %}
	</form></td>
</table>

<table id=id_question_list_table>
	<tr><td>QUESTION</td><td>ANSWERED</td><td>DATE</td><td>TIME</td></tr>
            {% for question in questions %}
		{% if question.time.day == day or day == 0 %}
		{% if question.time.month == month or month == 0 %}
		{% if question.time.year == year or year == 0 %}
                <tr><td> <a href="/question/{{ question.id }}">{{ question.text }}</a></td><td>{{ question.total_count }}</td><td>{{ question.time.day }}/{{ question.time.month }}/{{ question.time.year }}</td><td>{{ question.time.time }}</td></tr>
		{% endif %}
		{% endif %}
		{% endif %}
            {% endfor %}
        </table>
    </body>
</html>
