<html>
    <head>
        <title>Question App</title>
    </head>
    <body>
        <h1>{{ question_.text }}</h1>

        <table id="id_answer_table">
	<tr><td>No.</td><td>ANSWER</td><td>NUMBER</td></tr>
            {% for answer in answer_ %}

                <tr><td>{{ forloop.counter }}</td><td>{{ answer.answer }}</td><td>{{ answer.answer_count }}</td></tr>

            {% endfor %}
        </table>
<br>Total Answer : {{ question_.total_count }}
	<form method="POST" action="/">
            <input type="submit" value="Back" id="id_back" >
            <input type="hidden" value="send_back" name="send_back" >
	    <br>
            {% csrf_token %}
        </form>
    </body>
</html>
