<html>
    <head>
        <title>Question App</title>
    </head>
    <body>
        <h1>{{ question_.text }}</h1>

        <table id="id_answer_table">
            {% for answer in answer_ %}
		<form method="POST" action="/question/{{ question_.id }}">
                <tr><td><input type="submit" value="{{ forloop.counter }}" id="id_answer_{{ answer.id }}" >
            	<input type="hidden" value="{{ answer.id }}"  name="id_answer">
		</td><td>{{ answer.answer }}</td></tr>
                <input type="hidden" value="send_choose" name="send_choose" >
            	{% csrf_token %}
		</form>
            {% endfor %}
        </table>
	<form method="POST" action="/">
            <input type="submit" value="Back" id="id_back" >
            <input type="hidden" value="send_back" name="send_back" >
	    <br>
            {% csrf_token %}
        </form>
    </body>
</html>
